<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmu.hrms.mapper.LeaveMapper">
  <resultMap id="BaseResultMap" type="com.dmu.hrms.entity.Leave">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_id" jdbcType="INTEGER" property="staffId" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="leave_date" jdbcType="VARCHAR" property="leaveDate" />
    <result column="leave_reason" jdbcType="VARCHAR" property="leaveReason" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <association property="staff" select="com.dmu.hrms.mapper.StaffMapper.selectBySname" column="sname" javaType="com.dmu.hrms.entity.Staff"></association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from leave
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dmu.hrms.entity.Leave">
    insert into leave (id, staff_id, sname, leave_date, leave_reason, status)
    values (#{id,jdbcType=INTEGER}, #{staffId,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, 
      #{leaveDate,jdbcType=VARCHAR}, #{leaveReason,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dmu.hrms.entity.Leave">
    update leave
    set staff_id = #{staffId,jdbcType=INTEGER},
      sname = #{sname,jdbcType=VARCHAR},
      leave_date = #{leaveDate,jdbcType=VARCHAR},
      leave_reason = #{leaveReason,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, staff_id, sname, leave_date, leave_reason, status
    from leave
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, staff_id, sname, leave_date, leave_reason, status
    from leave
  </select>

</mapper>