<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dmu.hrms.mapper.StaffMapper">
  <resultMap id="BaseResultMap" type="com.dmu.hrms.entity.Staff">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sname" jdbcType="VARCHAR" property="sname" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
    <result column="post_id" jdbcType="INTEGER" property="postId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <association property="dept" select="com.dmu.hrms.mapper.DeptMapper.selectByPrimaryKey" column="dept_id" javaType="com.dmu.hrms.entity.Dept"></association>
    <association property="post" select="com.dmu.hrms.mapper.PostMapper.selectByPrimaryKey" column="post_id" javaType="com.dmu.hrms.entity.Post"></association>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from staff
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dmu.hrms.entity.Staff">
    insert into staff (id, sname, phone,
      email, dept_id, post_id,
      status, level)
    values (#{id,jdbcType=INTEGER}, #{sname,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, #{postId,jdbcType=INTEGER},
      #{status,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.dmu.hrms.entity.Staff">
    update staff
    set sname = #{sname,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      dept_id = #{deptId,jdbcType=INTEGER},
      post_id = #{postId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, sname, phone, email, dept_id, post_id, status, level
    from staff
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, sname, phone, email, dept_id, post_id, status, level
    from staff
  </select>
  <select id="selectByDept" resultMap="BaseResultMap">
    select id, sname, phone, email, dept_id, post_id, status, level
    from staff
    where dept_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByPost" resultMap="BaseResultMap">
    select id, sname, phone, email, dept_id, post_id, status, level
    from staff
    where post_id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByStatus" resultMap="BaseResultMap">
    select id, sname, phone, email, dept_id, post_id, status, level
        from staff
    where status = #{status,jdbcType=VARCHAR}
  </select>
  <update id="updateStatus">
    update staff
    set status = #{param,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySname" resultType="com.dmu.hrms.entity.Staff">
    select id, sname, phone, email, dept_id deptId, post_id postId, status, level
        from staff
    where sname = #{sname,jdbcType=VARCHAR}
  </select>
</mapper>